
.container {
    width: min(100%, 1440px);
    margin: auto;
}

/*header*/

.header {
    background-color: #372D23;
    padding: 32px 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*position: fixed;
    max-width: inherit;
    width: inherit;
    left: 50%;
    transform: translateX(-50%);
    არ იმუშავა
    */

}

.header_icon {
    height: 72px;
}

.header_icon_img {
    width: 100%;
    height: 100%;
}

.header_ul {
    display: flex;
    column-gap: 48px;
}

.header_bag {
    font-size: 40px;
    color: #FCC21B;
}

.header_bag:hover{
    filter: drop-shadow(0 5PX 10px #FCC21B);
}

.header_li_link {
    font-family: Inter;
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    color: #FCC21B;
}


.active {
    color: #ED6C30;
}

/*section1*/

.section1 {
    height: 640px;
    position: relative;
}

.section1_img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.section1_article {
    width: 762px;
    height: 208px;
    background-color: #FCC21B;
    position: absolute;
    padding: 34px 40px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.section1_article_title {
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    margin-bottom: 32px;
    color: #FFFFFF;
    text-shadow: 0 6px 4px #372D23;
}

.section1_article_button {
    font-family: Inter;
    width: 224px;
    height: 52px;
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    background-color: #FCC21B;
    color: #FFFFFF;
    box-shadow: 0 2px 4px 0 #000000D9;;
    border: 3px solid #FFFFFF;
}

.section1_article_button:hover{
    filter: drop-shadow(8px 8px 10px #000000D9);
}


/*section2*/

.section2 {
    width: calc(1200 /1440 * 100%);
    height: 400px;
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    column-gap: 100px;
    margin: 100px auto;
}

.section2_img {
    height: 100%;
}

.section2_article {
    width: 400px;
    height: 376px;
    vertical-align: top;
}


.section2_article_title {
    font-family: Inter;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    display: inline-block;
    color: #372D23;
}

.section2_article_text {
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    display: inline-block;
    margin-block: 40px;
    color: #855C52;
}

.section2_article_button {
    font-family: Inter;
    width: 211px;
    height: 52px;
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    color: #FFFFFF;
    background-color: #ED6C30;
    border-style: none;
}

.section2_article_button:hover{
filter: drop-shadow(8px 8px 10px #000000D9);
}



/*footer*/

.footer {
    height: 196px;
    background-color: #372D23;
    display: flex;
    padding: 32px 80px;
    justify-content: space-between;

}

.footer_article {
    width: 264px;
    height: 132px;
}


.first_title {
    font-family: Inter;
    font-size: 20px;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    vertical-align: top;
    color: #FFFFFF;
}

.footer_article_link:nth-child(3) {
    margin-block: 8px;
}


.footer_article_link {
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    display: block;
    color: #FCC21B;
}

.footer_section_title {
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 16px;
}

.footer_article2 {
    display: flex;
    justify-content: space-between;
}

.footer_article2_icon {
    font-size: 24px;
    color: #FCC21B;
}