.container {
    width: min(100%, 1440px);
    margin: auto;
}

/*header*/

.header {
    background-color: #372D23;
    padding: 32px 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_ul {
    display: flex;
    column-gap: 48px;
}

.header_bag {
    font-size: 40px;
    color: #FCC21B;
}

.header_li_link {
    font-family: Inter;
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    color: #FCC21B;
}

.header_icon {
    height: 72px;
}

.header_icon_img {
    width: 100%;
    height: 100%;
}

.active {
    color: #ED6C30;
}

/*section1*/

.section1 {
    height: 640px;
    position: relative;
}

.section1_img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.section1_article {
    width: 762px;
    height: 208px;
    background-color: #FCC21B;
    position: absolute;
    padding: 34px 40px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.section1_article_title {
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    margin-bottom: 32px;
    color: #FFFFFF;
}

.section1_article_button {
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    background-color: #FCC21B;
    color: #FFFFFF;

}


/*section2*/

.section2 {
    width: calc(1200 /1440 * 100%);
    height: 400px;
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    column-gap: 100px;
    margin: 100px auto;
}

.section2_img {
    height: 100%;
}

.section2_article {
    width: 400px;
    height: 376px;
    vertical-align: top;
}


.section2_article_title {
    font-family: Inter;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    display: inline-block;
    color: #372D23;
}

.section2_article_text {
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    display: inline-block;
    margin-block: 40px;
    color: #855C52;
}

.section2_article_button {
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    color: #FFFFFF;
    background-color: #ED6C30;
    border-style: none;
}










/*footer*/

.footer {
    height: 196px;
    background-color: #372D23;
    display: flex;
    padding: 32px 80px;
    justify-content: space-between;

}



.first_title {
    font-family: Inter;
    font-size: 20px;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    color: #FFFFFF;
}


.footer_article_title {
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #FCC21B;
}

.footer_article2_title {
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 16px;

}

.footer_article2_icon{
    font-size: 24px;
    color:#FCC21B;
}

.article2_middle{
margin-inline: 16px;
}